/* .banner {
    width: 1200px;
    height: 400px;
    margin: auto;
}

.card-row {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid;
    margin: 1em;
}

#pollen,
#pollen-2,
#pollen-3 {
    height: 169px;
} */